{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
          <!-- Updated on field goes in here -->
    
          <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
      </div>    
</div>
{% endblock content %}


Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet aut ullam, fugit accusantium omnis laboriosam minus, autem voluptatum, at perspiciatis dolore consequatur natus maxime nostrum reiciendis amet minima reprehenderit. Consectetur deleniti quas, dolores beatae, officia voluptate similique rerum perferendis, excepturi sapiente cupiditate recusandae sequi tenetur. Eius dignissimos magnam sapiente veniam sed. Aperiam animi odio maxime. Ratione magnam voluptas cupiditate excepturi numquam reprehenderit dolor perspiciatis voluptatum repudiandae, mollitia eligendi animi, quas quasi iste repellendus quam esse similique. Pariatur quas eum quidem, corporis a rem voluptatum nulla, soluta praesentium recusandae delectus ut reiciendis repellendus beatae ullam voluptas culpa non odit odio laborum.